<settings>
    <pluginGroups>
        <pluginGroup>eu.maveniverse.maven.plugins</pluginGroup>
    </pluginGroups>
    <servers>
        <server>
            <id>sonatype-central-portal</id>
            <username>${env.MAVENCENTRAL_USERNAME}</username>
            <password>${env.MAVENCENTRAL_PASSWORD}</password>
        </server>
    </servers>
</settings>
